h1 {
    color: red;
}
.profile {
    color: white;
}
.profile-form {
    background-color: black;
}
.username {
    margin: 10px;
}
.password {
    margin: 10px;
}
.email {
    margin: 10px;
}
.birthday {
    margin: 10px;
}